<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.novomundo.whatsapp</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/david/Documents/GitHub/disparador-email/start_whatsapp_daemon.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/david/Documents/GitHub/disparador-email/logs/whatsapp_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/david/Documents/GitHub/disparador-email/logs/whatsapp_stderr.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/david/Documents/GitHub/disparador-email</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
